﻿<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/Navigation.master" CodeBehind="add.aspx.cs" Inherits="MobileSite.add" %>

<asp:Content ID="Content2" ContentPlaceHolderID="cphMain" runat="server">
        <div class="title_bar">
            Favorites
            </div><div class="clear"></div>
            <asp:Literal ID="FavDisplay" runat="server"></asp:Literal>
</asp:Content>

