﻿<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/Navigation.Master" CodeBehind="calendarDetail.aspx.cs" Inherits="MobileSite.calendarDetail" %>


<asp:Content ID="Content2" ContentPlaceHolderID="cphMain" runat="server">
        <div class="listingDetailContainer">
            <asp:Label ID="eventDetailInfo" runat="server"></asp:Label>    
        </div>    
</asp:Content>
