﻿<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/Navigation.Master" CodeBehind="dealsDetail.aspx.cs" Inherits="MobileSite.dealsDetail" %>

<asp:Content ID="Content2" ContentPlaceHolderID="cphMain" runat="server">
        <div class="listingDetailContainer">
            <asp:Label ID="dealsDetailInfo" runat="server"></asp:Label>    
        </div>    
</asp:Content>
