﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Navigation.master" AutoEventWireup="true" CodeBehind="FrontView.aspx.cs" Inherits="MobileSite.FrontView" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphMain" runat="server">


<asp:Repeater ID="Repeater1" runat="server" DataSourceID="SqlDataSource1">
<ItemTemplate>

  <asp:Label ID="Label1" runat="server" Text=""></asp:Label>



</ItemTemplate>
</asp:Repeater>

<asp:SqlDataSource ID="SqlDataSource1" runat="server" 
    ConnectionString="<%$ ConnectionStrings:ConnectionString %>" 
    ProviderName="<%$ ConnectionStrings:ConnectionString.ProviderName %>" 
    SelectCommand="SELECT DISTINCT [SubState] FROM [BHI_SubDivision] ORDER BY [SubState]">
</asp:SqlDataSource>



</asp:Content>

