﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Navigation.master" AutoEventWireup="true" CodeBehind="main.aspx.cs" Inherits="MobileSite.main" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphMain" runat="server">

eqweq
</asp:Content>
