﻿<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/Navigation.Master" CodeBehind="map.aspx.cs" Inherits="MobileSite.map" %>

<asp:Content ID="main" ContentPlaceHolderID="cphMain" runat="server">
    <div class="contentOuter">
        <div class="content">
            <asp:Label ID="display" runat="server"></asp:Label>
        </div>
    </div>
</asp:Content>
