﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Mobile.master.cs" Inherits="MobileSite.Mobile" %>

<%@ Register Src="/Controls/menu.ascx" TagName="siteMenu" TagPrefix="CARL" %>
<%@ Register Src="/Controls/mobiAd_Header.ascx" TagName="mobiAd_Header" TagPrefix="uc1" %>
<%@ Register Src="/Controls/siteTheme.ascx" TagName="siteTheme" TagPrefix="uc1" %>
<%@ Register Src="/Controls/Footer.ascx" TagName="Footer" TagPrefix="uc1" %>
<%@ Register Src="/Controls/Search.ascx" TagName="srch" TagPrefix="CARL" %>
<%@ Register Src="/Controls/Analytics.ascx" TagName="Analytic" TagPrefix="uc1" %>
<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <meta http-equiv="Content-Type" content="app/xhtml+xml; charset=utf-8" />
    <meta http-equiv="Cache-Control" content="max-age=200" />
    <meta name="viewport" content="width=320; initial-scale=1.0; maximum-scale=2.0; user-scalable=1;" />
    <meta name="HandheldFriendly" content="True" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js">
    </script>
    <script type="text/javascript" src="http://1627.mobimanage.com/GALLERY/jquery.cycle.all.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/GALLERY/styles.css" />
    <script type="text/javascript" src="http://1627.mobimanage.com/GALLERY/jquery.touchwipe.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false">
    </script>
    
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>

  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>




    <title id="siteTitle"></title>

 
    <link href="http://1627.mobimanage.com/Styles/ie.css" rel="stylesheet" type="text/css" />

    <link href="/Styles/mobiSmart.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/advanced.js"></script>
    <script type="text/javascript" src="http://lib.mobimanage.com/CODE/JScript.js"></script>
    <asp:ContentPlaceHolder ID="_cphSiteTheme" runat="server">
        <uc1:siteTheme ID="siteTheme1" runat="server" />
    </asp:ContentPlaceHolder>
    <asp:Literal runat="server" ID="litStyles"></asp:Literal>
    <asp:Literal runat="server" ID="fontSize"></asp:Literal>
    <style type="text/css">
        #mapContainer
        {
            height: 350px;
            width: 275px;
            padding: 5px;
            margin: 5px;
            
        }
    </style>



</head>
<body onload="Check_Javascript();" ">



    <asp:Panel runat="server" ID="panMenuButton" Visible="false">
        <div id="jsEnabled" style="display: none;">
            <div class="menuButton" id="btnBack">
                <%--<img src="/IMAGES/menu.png" alt="menu" id="menuBtn" style="width: 52px;" />--%>
            </div>
        </div>
        <div id="jsDisabled">
            <asp:HyperLink ID="menuHyper" runat="server">
                    <div class="menuButton" <%= menuback %>>
                        <%--<img src="/IMAGES/menu.png" alt="Menu" style="width: 52px;" />--%>
                    </div>
            </asp:HyperLink>
        </div>
        <CARL:siteMenu ID="menu1" runat="server" />
    </asp:Panel>

    <asp:ContentPlaceHolder ID="_cphHeader" runat="server">
    </asp:ContentPlaceHolder>

    <uc1:mobiAd_Header ID="mobiAd_Header1" runat="server" />
    <div class="clear">
    </div>

    <asp:ContentPlaceHolder ID="_cphMain" runat="server" />

    <asp:ContentPlaceHolder ID="_cphMenu" runat="server">

    </asp:ContentPlaceHolder>

    <asp:ContentPlaceHolder ID="_cphFooter" runat="server">

      <uc1:Footer ID="Footer1" runat="server" />

    </asp:ContentPlaceHolder>


    <script>
           $(window).load(function () {
               // do GEO
               if (navigator.geolocation) {
                   navigator.geolocation.getCurrentPosition(
                   function (position) {
                       var lat = position.coords.latitude;
                       var lon = position.coords.longitude;

          

                       var menuItem = $('.menuContainer').children();
                       menuItem[2].href += "?txtlat=" + lat + "&txtlon=" + lon;
                     
                 
                       var children = $('.foot_nav').children();
                       children[1].href += "&txtlat=" + lat + "&txtlon=" + lon;




                       //    children[1].href += "&txtlat=" + lat + "&txtlon=" + lon;
                       //  children[2].href += "&txtlat=" + lat + "&txtlon=" + lon;
                   }, function (error) { }, { enableHighAccuracy: true }
               );
               }
               else {

               }

           });
</script>
    <uc1:Analytic ID="uclAnalytic" runat="server" />
</body>
</html>
