﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Navigation.master" AutoEventWireup="true" CodeBehind="quick_move.aspx.cs" Inherits="MobileSite.CUSTOM.quick_move" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphMain" runat="server">

<div class="title_bar">Inventory - Select your <asp:Literal ID="areaTag" runat="server"></asp:Literal></div>





<div class="subNav"><asp:Literal ID="areaList" runat="server"></asp:Literal></div> 





</asp:Content>
