﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Navigation.master" AutoEventWireup="true" CodeBehind="search_byLocation.aspx.cs" Inherits="MobileSite.search_byLocation" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphMain" runat="server">

<div class="title_bar">Select city below</div>

<asp:Literal ID="cityList" runat="server"></asp:Literal>



 


</asp:Content>
