﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Navigation.master" AutoEventWireup="true" CodeBehind="search_dir.aspx.cs" Inherits="MobileSite.search_dir" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphMain" runat="server">

<div class="title_bar">Select Option</div>





 
    <asp:Literal ID="optionList" runat="server"></asp:Literal>

</asp:Content>
