﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Mobile.Master" AutoEventWireup="true" CodeBehind="test2.aspx.cs" Inherits="MobileSite.test2" %>
<asp:Content ID="Content1" ContentPlaceHolderID="_cphSiteTheme" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="_cphHeader" runat="server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="_cphMain" runat="server">
ftest fasdf











</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="_cphMenu" runat="server">
</asp:Content>
<asp:Content ID="Content5" ContentPlaceHolderID="_cphFooter" runat="server">
</asp:Content>
